@media (max-width: 1600px) {
    .reviews_slider .single_review {
        width: 650px !important;
    }
    .reviews_slider .slick-list {
        margin: 0;
    }
    #single_object_location {
        background-size: cover;
    }
}

@media (max-width: 1500px) {
    #main_section8 .sec8_right {
        right: 0;
    }
    .reviews_slider .single_review .info {
        width: calc(555px - 300px);
    }
}

@media (max-width: 1230px) {
    .header_langs {
        margin-left: 8px;
    }
}

@media (max-width: 1200px) {
    .header_container {
        max-width: 960px !important;
    }
    #header_phone_wrap {
        display: none !important;
    }
    .mobile_header_phone {
        display: block;
    }
    .mobile_header_phone:hover img {
        transform: none;
    }
    .header_consult {
        margin-left: 10px;
        padding: 10px 13px;
    }
    .header_hidden_phones {
        width: 165px;
        left: -61px;
        top: 35px;
    }
    .menu li a {
        font-size: 12px;
    }
    .sec3_country .info .title {
        font-size: 30px;
    }
    #main_section6 {
        background-size: cover;
    }
    .card_bg {
        display: none;
    }

    #main_section8 .sec8_right {
        display: none;
    }
    #main_section8 {
        background: url("../img/sec8_laptop_bg.png") no-repeat;
        background-position: right;
        background-color: #0f4c81;
        background-size: contain;
    }
    .about_image .about_logo_up {
        display: none;
    }
    .about_image img {
        width: 100%;
    }
    .about_info .advs .single_adv .text {
        font-size: 14px;
    }
    .about_info .advs .single_adv {
        padding-right: 5px;
        width: 49.5%;
    }
    .about_info .advs .single_adv .num {
        margin-right: 8px;
    }
    .estate_filter_wrap #main_filter .filter_input_wrap,
    .estate_filter_wrap #main_filter .room_count {
        min-width: 275px;
        width: 275px;
    }
    .estate_filter_wrap #main_filter #price_to {
        width: 89px;
    }
    .estate_filter_wrap #main_filter .space_to_label input {
        width: 80px;
        min-width: 80px !important;
    }
    .estate_filter_wrap #main_filter #price_from {
        width: 81px;
        padding-right: 0;
    }
    .estate_filter_wrap #main_filter #price_from,
    .estate_filter_wrap #main_filter #price_to {
        font-size: 14px;
    }
    #estate_section2 .sec3_country {
        min-height: 170px;
    }
    .estate_doubled_block .left_info ul li a,
    .estate_single_block ul li a {
        font-size: 14px;
    }
    .estate_form_wrap form .about_input {
        width: 190px;
    }
    .estate_form_wrap .phone_select #form_phone {
        width: 153px;
    }
    .estate_form_wrap {
        background-size: cover;
    }
    .estate_how_to_buy .single_buy_block .title {
        font-size: 17px;
    }
    .estate_faq_wrap .single_question .single_question_body > div {
        max-width: 800px;
    }
    .header_mob_wrap {
        margin-left: 0;
    }
    .header_consult {
        font-size: 13px;
    }
    .single_country_object_wrap .single_country_object::before {
        width: calc(100% + 40px);
        height: calc(100% + 40px);
        top: -20px;
        left: -20px;
    }
    #single_object .single_object_main_slider .single_object_main_slide {
        height: 285px;
    }
    #single_object .single_object_help_slider .single_object_help_slide {
        height: 50px;
    }
    #single_object .object_right_section .callback .title {
        font-size: 23px;
    }
    #single_object_location .right_location p,
    #single_object_location .right_location span {
        max-width: 348px;
    }
    #single_object_location .left_location p {
        max-width: 335px;
    }
    /* .reviews_slider .single_review .info .title {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .reviews_slider .single_review .info .text p {
        font-size: 14px;
    }
    .reviews_slider .single_review {
        z-index: 1;
        box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
        max-width: unset;
        margin: 0 15px;
        border-radius: 5px;
    }
    .reviews_slider .single_review::after {
        content: none;
    } */
    /* #main_section5 .container-fluid {
        padding-left: 0;
        padding-right: 0;
    } */
    .reviews_slider .single_review::after {
        content: none;
    }
    .reviews_slider .single_review {
        margin: 0 303px;
    }
    .reviews_slider .slick-next {
        right: 21%;
    }
    .reviews_slider .slick-prev {
        left: 21%;
    }
    .reviews_slider .single_review .info {
        /* width: calc(100% - 222px); */
        width: 100%;
    }
}

@media (max-width: 1100px) {
    .reviews_slider .single_review .image {
        /* width: 170px; */
    }
    .reviews_slider .single_review .info {
        /* width: calc(100% - 170px); */
    }
}

@media (max-width: 992px) {
    .header_menu {
        display: none;
    }
    .header_logo img {
        width: auto;
        margin: 0 auto;
        position: relative;
        z-index: 3;
    }
    .mobile-toggle {
        display: block;
    }
    .header_consult {
        display: none;
    }
    .main_sec1_title {
        font-size: 29px;
        line-height: 33px;
        margin-bottom: 15px;
    }
    .header_container {
        max-width: 720px !important;
    }
    .main_sec1_advs .single_adv {
        width: 50%;
    }
    .main_sec1_advs .mob_single_adv {
        display: block;
        width: 100%;
    }

    .single_adv.middle {
        display: none;
    }
    .main_sec1_advs {
        flex-wrap: wrap;
        margin-bottom: 70px;
    }
    .main_sec1_advs .single_adv .subtitle {
        margin-bottom: 0;
    }
    .filter_top,
    .filter_hidden.active {
        flex-direction: column;
        align-items: center;
    }
    .default_text,
    .hidden_text,
    .filter_show_more_arr {
        display: none !important;
    }
    .filter_input_wrap,
    .room_count {
        margin: 5px 0;
    }
    .filter_hidden.active {
        margin-top: 0;
    }
    .filter_show_results p {
        display: none;
    }
    .mobile_filter_count {
        display: block;
    }
    .filter_show_results {
        width: 100%;
        margin-top: 20px;
    }
    .filter_controls {
        flex-wrap: wrap;
        margin-top: 10px;
    }
    #main_filter {
        padding: 10px 15px;
        width: 310px;
        bottom: -126px;
    }
    #main_section1.unpacked {
        min-height: 555px;
    }
    .filter_show_more > img {
        width: 20px;
    }
    .sec2_content {
        margin: 153px auto 30px;
    }
    .sec2_content_up {
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
        border-radius: 5px 5px 0px 0px;
    }
    #main_section2 {
        background-size: cover;
    }
    .sec3_country_wrap {
        max-width: 350px;
        margin: 0 auto 30px;
    }
    #main_section4 .section_header a {
        display: none;
    }
    #main_section4 .mobile_hidden_link {
        display: block;
        margin-top: 15px;
    }
    .single_news {
        margin: 0;
        padding: 15px 0;
        border-bottom: 1px solid rgba(15, 76, 129, 0.1);
    }
    #main_section4 {
        padding-bottom: 50px;
    }
    #left_card_wrap {
        display: flex;
        height: unset;
        margin-bottom: 15px;
    }
    #left_card_wrap .card_bg {
        display: block;
        top: 0;
    }
    #right_card_wrap img {
        display: none;
    }
    #right_card_wrap .details_btn {
        margin-top: 0;
    }
    .sec6_subtitle {
        margin-bottom: 30px;
    }
    .sec6_steps .single_step .title {
        padding-top: 7px;
    }
    #main_section6 {
        padding-bottom: 50px;
    }
    #main_section7 .sec7_left {
        margin-bottom: 50px;
    }
    .sec7_left button {
        margin-top: 0;
    }
    .sec7_right button {
        display: block;
        width: fit-content;
        margin-left: 0;
    }
    .about_image {
        display: none;
    }
    .about_info .mob_about_image {
        display: block;
        margin: 10px auto;
    }
    .about_info .advs {
        /* flex-direction: column; */
        justify-content: center;
    }
    .about_info .advs > div {
        max-width: 288px;
        margin: 0 5px 10px;
    }
    .sec9_form {
        border: 1px solid #0f4c81;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 20px 15px 30px;
    }
    .sec9_form .inputs {
        flex-direction: column;
        align-items: center;
    }
    .sec9_form .inputs > .about_input {
        margin-bottom: 20px;
    }
    .single_office_link .single_office {
        margin-bottom: 40px;
    }
    .footer_footer {
        border-top: 1px solid #464646;
        border-bottom: 1px solid #464646;
        padding-top: 15px;
    }
    .footer_footer ul {
        flex-wrap: wrap;
    }
    .footer_footer ul li {
        margin-bottom: 15px;
    }
    .footer_footer .footer_large_link {
        width: 100%;
    }
    .footer_offices .offices {
        border-bottom: 1px solid #464646;
    }
    .footer_countries {
        margin-bottom: 25px;
    }
    .modal_favs_content ul li {
        margin-bottom: 10px;
    }
    .reviews_slider .single_review::after {
        content: unset;
    }
    .reviews_slider .single_review .info .title {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .reviews_slider .single_review .info .text p {
        font-size: 14px;
    }
    .reviews_slider .single_review {
        z-index: 1;
        box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
        max-width: unset;
        margin: 0 15px;
        border-radius: 5px;
    }
    .reviews_slider .single_review {
        flex-direction: column;
    }
    .reviews_slider .single_review > div {
        width: 100% !important;
    }
    .reviews_slider .single_review .image {
        min-height: 250px;
    }
    .reviews_slider .slick-list {
        padding: unset;
        margin: unset;
    }
    .reviews_slider {
        margin-bottom: 50px;
    }
    .reviews_slider .slick-prev,
    .reviews_slider .slick-next {
        top: calc(100% + 25px);
    }
    .reviews_slider .slick-next {
        right: 43%;
    }
    .reviews_slider .slick-prev {
        left: 43%;
    }
    .sec5_title {
        text-align: left;
    }
    #main_filter #price_to {
        width: 139px;
        min-width: 127px;
    }
    .estate_filter_wrap #main_filter {
        max-width: 307px;
    }
    .estate_doubled_block {
        flex-direction: column-reverse;
    }
    .estate_doubled_block .left_info {
        width: 100%;
    }
    .estate_doubled_block .right_image {
        width: 100%;
        min-height: 230px;
    }
    .estate_single_block {
        height: fit-content;
        width: 100%;
    }
    .estate_objects_controls > button {
        font-size: 15px;
        padding: 8px 12px;
    }
    .estate_single_card {
        max-width: 375px;
        margin: 0 auto 30px;
    }
    .estate_form_wrap form {
        flex-direction: column;
        align-items: flex-start;
    }
    .estate_form_wrap form .about_input,
    .estate_form_wrap .phone_select {
        margin-bottom: 30px;
    }
    .estate_form_wrap .phone_select #form_phone {
        margin-bottom: 0;
    }
    .estate_form_wrap form .about_input {
        width: 230px;
    }
    .estate_form_wrap .phone_select #form_phone {
        width: 193px;
    }
    .estate_form_wrap {
        /* background: url("../img/about_logo_down.png") no-repeat; */
    }
    .estate_how_to_buy .single_buy_block {
        margin-bottom: 30px;
    }
    .estate_faq_wrap .single_question .question_header button span {
        white-space: normal;
        text-align: left;
    }
    .header_langs {
        display: none;
    }
    .single_country_object {
        flex-direction: column;
    }
    .single_country_object .image_wrap {
        width: 100%;
    }
    .single_country_object .info_wrap {
        padding-left: 0;
        width: 100%;
        padding: 30px 5px 0;
    }
    .single_country_object_wrap {
        max-width: 500px;
        margin: 0 auto;
    }
    #country_section3 .country_sec3_steps {
        margin-top: 30px;
    }
    .single_country_object_wrap a:hover .single_country_object::before {
        content: none;
    }
    #city_filter .city_filter_wrap {
        justify-content: center;
    }
    #single_object .single_object_left_info {
        display: none;
    }
    #single_object .object_right_section .mobile_object_left_info {
        display: block;
    }
    #single_object .single_object_main_slider .single_object_main_slide {
        height: 370px;
    }

    #single_object .object_right_section {
        margin-top: 25px;
    }
    #single_object_page #single_object {
        padding-top: 40px;
    }
    #single_object_location .left_location p,
    #single_object_location .right_location p,
    #single_object_location .right_location span {
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
    #single_object_location .right_location p {
        margin-top: 175px;
    }
    #single_object_location .location_title {
        font-size: 20px;
        line-height: 22px;
    }
    #single_object_location .left_location p {
        margin-top: 30px;
    }
}

@media (max-width: 768px) {
    .main_sec1_advs {
        margin-bottom: 90px;
    }
    #main_section1.unpacked > .container {
        margin-top: -110px;
    }
    .footer_countries > div {
        width: 50%;
        margin-top: 15px;
    }
    #left_card_wrap .card_bg {
        width: 100%;
    }
    #contact_modal .modal-content {
        min-width: unset;
    }
    #contact_modal .modal-dialog {
        min-width: unset;
    }
    .estate_doubled_block,
    .estate_single_block {
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
    }
    #estate_section3 > .container > .row {
        flex-flow: wrap;
    }
    .first_estate_single {
        order: 3;
    }
    .second_estate_single {
        order: 2;
    }
    .first_estate_double {
        order: 1;
    }
    .second_estate_double {
        order: 4;
    }
    .estate_objects_controls > button {
        font-size: 16px;
        padding: 8px 12px;
    }
    .estate_form_wrap {
        background: none;
        position: relative;
    }
    .estate_form_wrap .about_logo_down {
        display: block;
    }
    .estate_page_title .title_country_flag {
        display: none;
    }
    #single_object .single_object_main_slider .single_object_main_slide {
        height: 300px;
    }
}

@media (max-width: 576px) {
    .main_sec1_title {
        font-size: 24px;
        line-height: 29px;
    }
    .sec2_content_up .title {
        font-size: 18px;
        line-height: 20px;
    }
    .sec2_content_up .text {
        font-size: 14px;
        line-height: 20px;
    }
    .sec2_content_down .bottom div .subtitle {
        font-size: 14px;
        line-height: 17px;
    }
    .sec2_content_up {
        padding: 20px;
    }
    .sec3_title {
        font-size: 24px;
        line-height: 29px;
    }
    .sec3_country .info .title {
        font-size: 24px;
        line-height: 29px;
    }
    .sec3_country .info .link {
        font-size: 12px;
        line-height: 14px;
    }
    #main_section4 .mobile_hidden_link {
        font-size: 12px;
        line-height: 14px;
    }
    .single_news .subtitle {
        font-size: 14px;
        line-height: 17px;
    }
    .single_news .text {
        font-size: 14px;
        line-height: 17px;
    }
    .sec5_title {
        font-size: 24px;
        line-height: 29px;
    }
    .sec6_title {
        font-size: 24px;
        line-height: 29px;
    }
    .sec6_subtitle {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    .sec6_subtitle span {
        font-size: 14px;
        line-height: 20px;
    }
    .mobile_card_img {
        display: block;
        width: 100%;
        border-radius: 5px;
    }
    #left_card_wrap .card,
    #left_card_wrap .card_bg {
        display: none;
    }
    .sec6_steps .single_step .title {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 5px;
    }
    .sec6_steps .single_step .text {
        font-size: 14px;
        line-height: 20px;
    }
    .sec6_steps .single_step .num {
        margin-right: 10px;
    }
    #right_card_wrap .details_btn {
        width: 100%;
        font-size: 14px;
        line-height: 20px;
    }
    .sec7_title {
        font-size: 24px;
        line-height: 29px;
    }
    .sec7_subtitle {
        font-size: 18px;
        line-height: 20px;
    }
    .sec7_text {
        font-size: 14px;
        line-height: 20px;
    }
    .sec7_left button,
    .sec7_right button,
    #main_section8 button,
    .sec9_form form button {
        width: 100%;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
    }
    .sec7_right > img {
        width: 100%;
    }
    .sec8_title {
        font-size: 24px;
        line-height: 29px;
    }
    .sec8_text {
        font-size: 14px;
        line-height: 20px;
    }
    .about_info .about_title {
        font-size: 24px;
        line-height: 29px;
    }
    .about_info .about_subtitle {
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
    }
    .about_items {
        flex-direction: column;
    }
    .about_items .about_item {
        width: 100%;
        padding: 20px;
        border-top: 1px solid rgba(15, 76, 129, 0.1);
    }
    .about_items .about_item:last-child {
        border-bottom: 1px solid rgba(15, 76, 129, 0.1);
    }
    .about_items .about_item .img_wrap {
        display: none;
    }
    .about_items .about_item > p {
        font-size: 18px;
        line-height: 22px;
    }
    .sec9_form .title {
        font-size: 24px;
        line-height: 29px;
    }
    .sec9_form .subtitle {
        font-size: 14px;
        line-height: 20px;
    }
    .sec9_form .inputs > .about_input {
        font-size: 14px;
        line-height: 17px;
        width: 100%;
    }
    .phone_select #form_phone {
        font-size: 14px;
        line-height: 17px;
    }
    .phone_select {
        width: 100%;
    }
    .phone_select #form_phone {
        width: calc(100% - 37px);
    }
    .footer_title {
        font-size: 24px;
        line-height: 29px;
    }
    .footer_offices .offices .single_office .country {
        font-size: 18px;
        line-height: 22px;
        min-height: unset;
    }
    .footer_offices .offices .single_office .city {
        font-size: 13px;
        line-height: 20px;
    }
    .footer_offices .offices .single_office .address {
        font-size: 8px;
        line-height: 12px;
    }
    .footer_countries > div > a {
        font-size: 14px;
        line-height: 20px;
    }
    .footer_footer ul li a {
        font-size: 14px;
        line-height: 20px;
    }
    .about_info .mob_about_image {
        width: 100%;
    }
    .about_info .advs .single_adv {
        width: 264px;
    }
    #main_section1 {
        min-height: 425px;
    }
    #main_section6 .row > div {
        padding-left: 0;
        padding-right: 0;
    }

    .sec6_steps .single_step,
    .sec6_subtitle,
    #right_card_wrap {
        padding-left: 15px;
        padding-right: 15px;
    }
    .menu_responsive .main_menu li {
        font-size: 26px;
        line-height: 26px;
    }
    .reviews_slider .slick-next {
        right: 38%;
    }
    .reviews_slider .slick-prev {
        left: 38%;
    }
    .reviews_slider .single_review .image {
        min-height: 200px;
    }
    .reviews_slider .single_review {
        border: 1px solid rgba(15, 76, 129, 0.16);
        box-sizing: border-box;
        box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    }
    .estate_page_title {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 30px;
    }
    #estate_section1 {
        padding-top: 30px;
    }
    .estate_mob_filter_trigger {
        display: block;
        background: #ffffff;
        border: 1px solid #f1f1f1;
        box-sizing: border-box;
        border-radius: 100px;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.01em;
        color: #808080;
        margin: 0 auto;
        padding: 7px 12px;
    }
    .estate_mob_filter_trigger > img {
        margin-right: 5px;
        width: 25px;
    }
    /* ============= МОБИЛЬНЫЙ ФИЛЬТР ДЛЯ НЕДВИЖИМОСТИ ============= */

    .estate_filter_wrap {
        display: flex;
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: #fff;
        z-index: 10;
        align-items: center;
    }
    .estate_filter_wrap #main_filter {
        /* height: 100%; */
        width: 100%;
        border: none;
        box-shadow: none;
        max-width: unset;
        z-index: auto;
    }
    .estate_filter_wrap #main_filter .filter_controls .filter_show_more {
        display: none;
    }
    .estate_filter_hidden_label {
        display: block;
        font-style: normal;
        font-weight: normal !important;
        font-size: 12px !important;
        line-height: 14px !important;
        letter-spacing: 0.01em;
        color: #696969 !important;
        text-align: left !important;
        border: none !important;
        width: 100%;
        margin-bottom: 5px !important;
    }
    .estate_filter_wrap #main_filter .filter_input_wrap,
    .estate_filter_wrap #main_filter .room_count {
        width: 100%;
        margin-bottom: 20px;
    }
    .estate_filter_wrap #main_filter .hidden_dropdown {
        z-index: 10;
        overflow: visible;
        max-height: unset;
        left: 0;
        width: 100%;
        top: -10px !important;
    }
    .estate_filter_wrap #main_filter .custom_dropdown_ul {
        padding: 10px 0;
    }
    .estate_filter_wrap #main_filter .custom_dropdown_ul li {
        font-size: 13px;
        line-height: 16px;
        padding: 10px 20px;
    }

    .estate_filter_wrap #main_filter .filter_input {
        height: 35px;
        border: 1px solid #9d9d9d;
        box-sizing: border-box;
        border-radius: 100px;
        padding: 8px 0 5px;
        padding-left: 15px;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
    }
    .estate_filter_wrap #main_filter .filter_input_wrap::after {
        content: url(../img/mob_filter_arr.svg);
        top: 7px;
        right: 14px;
        height: 21px;
    }
    .estate_filter_wrap #main_filter .filter_input::placeholder {
        color: #9d9d9d;
    }
    .estate_filter_wrap #main_filter .filter_input_wrap.price::after {
        content: none;
    }
    .estate_filter_wrap #main_filter .filter_input_wrap.price {
        border: none;
    }
    .estate_filter_wrap #main_filter .filter_input_wrap.price > label {
        width: calc(50% - 3px);
        border: 1px solid #9d9d9d !important;
        padding-left: 15px;
    }
    .estate_filter_wrap #main_filter .filter_input_wrap.price > label span {
        display: none;
    }
    .estate_filter_wrap
        #main_filter
        .filter_input_wrap.price
        > label.price_from_label {
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
    }
    .estate_filter_wrap
        #main_filter
        .filter_input_wrap.price
        > label.price_to_label {
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
    }
    .estate_filter_wrap #main_filter .filter_input_wrap.price input {
        border: none;
    }
    .estate_filter_wrap #main_filter #price_from {
        width: calc(100% - 22px);
    }
    .estate_filter_wrap #main_filter #price_to {
        width: calc(100% - 38px);
    }
    .estate_filter_wrap #main_filter .space_from_label #space_from {
        width: calc(100% - 51px);
    }
    .estate_filter_wrap #main_filter .space_to_label #space_to {
        width: calc(100% - 24px);
    }
    .estate_filter_wrap #main_filter .space_to_label {
        left: -5px;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
    }
    .estate_filter_wrap #main_filter .space_from_label {
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
    }
    .estate_filter_wrap #main_filter .room_count p {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;
    }

    .estate_filter_wrap #main_filter .room_count p span {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.01em;
        color: #000000;
        display: block;
        width: 35px;
        height: 35px;
        border: 1px solid #9d9d9d;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .estate_filter_wrap #main_filter .room_count p span.active {
        color: #fff;
        background: #3f89ca;
        border: 1px solid #3f89ca;
    }
    .estate_filter_wrap #main_filter .room_count p .room_count_title {
        display: none;
    }
    .estate_filter_wrap #main_filter .filter_show_results a {
        display: block;
        width: 100%;
    }
    .estate_filter_wrap #main_filter .filter_show_results {
        margin-top: 0;
    }
    /* ============= МОБИЛЬНЫЙ ФИЛЬТР ДЛЯ НЕДВИЖИМОСТИ ============= */

    #estate_section2 {
        padding: 35px 0 20px;
    }
    .sec3_country_wrap {
        max-width: 320px;
    }
    #estate_section2 .sec3_country .info .title {
        font-size: 18px;
        line-height: 20px;
    }
    #estate_section2 .sec3_country .info .link {
        margin-top: 3px;
    }
    .estate_sec3_title {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 30px;
    }
    .estate_doubled_block,
    .estate_single_block {
        max-width: 290px;
    }
    .estate_doubled_block .right_image {
        width: 100%;
        min-height: 165px;
        background-size: auto !important;
    }
    .estate_doubled_block .left_info {
        padding: 20px 15px;
    }
    .estate_doubled_block .left_info .left_info_title,
    .estate_single_block .left_info_title {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 15px;
    }
    .estate_single_with_form .estate_single_subtitle {
        font-size: 14px;
        line-height: 20px;
    }
    .estate_single_block {
        padding: 20px 15px;
    }
    #estate_section3 {
        padding-bottom: 10px;
    }
    .estate_objects_controls > button {
        font-size: 14px;
        line-height: 17px;
        padding: 8px 10px;
    }
    .estate_single_card {
        max-width: unset;
        width: 100%;
    }
    .estate_single_card .estate_main_slider .single_main_slide {
        /* height: 180px; */
        height: 240px;
    }
    .estate_single_card .estate_help_slide .estate_help_single_slide {
        height: 55px;
    }
    .estate_single_card .info_wrap .info {
        justify-content: flex-start;
    }
    .estate_single_card .info_wrap .info .divider {
        margin: 0 10px;
    }
    .estate_single_card .info_wrap .info p {
        font-size: 14px;
        line-height: 17px;
    }
    .estate_single_card .info_wrap .info span {
        font-size: 14px;
        line-height: 17px;
    }
    .estate_single_card .info_wrap .info1 {
        font-size: 14px;
        line-height: 20px;
    }
    .estate_single_card .info_wrap .info2 {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 0;
    }
    .estate_single_card .info_wrap .date {
        display: none;
    }
    .estate_single_card .info_wrap {
        padding: 20px 0;
    }
    .estate_single_card .info_wrap {
        border: none;
    }
    .estate_single_card {
        margin-bottom: 0;
    }
    .estate_popular,
    .estate_popular2,
    .estate_popular3,
    .estate_popular4 {
        margin-bottom: 30px;
    }
    .estate_products_wrap .row > div {
        margin-bottom: 30px;
        border-bottom: 1px solid rgba(15, 76, 129, 0.1);
    }
    .estate_single_card .info_wrap .help_price {
        display: block;
        margin-bottom: 13px;
    }
    .estate_single_card .info_wrap .price_wrap {
        margin-bottom: 0;
    }
    .estate_popular2 {
        margin-bottom: 0;
    }
    .estate_form_wrap {
        padding: 20px 15px;
        margin-bottom: 50px;
    }
    .estate_form_wrap .title {
        font-size: 24px;
        line-height: 29px;
    }
    .estate_form_wrap .subtitle {
        font-size: 14px;
        line-height: 20px;
    }
    .estate_form_wrap form {
        margin-top: 20px;
    }
    #estate_section5 .about_info .about_subtitle {
        font-size: 14px;
        line-height: 17px;
    }
    #estate_section5 .about_items .about_item {
        border-left: none;
        border-right: none;
    }
    #estate_section5 .about_items .about_item {
        padding: 20px 0;
    }
    #estate_section5 .about_items {
        margin-top: 20px;
    }
    #estate_section5 {
        margin-bottom: 30px;
    }
    .estate_sec6_title {
        max-width: unset;
        margin-bottom: 30px;
        font-size: 24px;
        line-height: 29px;
    }
    .estate_how_to_buy .single_buy_block > img {
        margin-bottom: 20px;
    }
    .estate_how_to_buy .single_buy_block .title {
        margin-bottom: 10px;
    }
    #estate_section7 .estate_sec3_title {
        padding-left: 0;
    }

    .estate_faq_wrap .single_question .question_header button {
        font-size: 16px;
        line-height: 19px;
    }
    .estate_faq_wrap .single_question .question_header button.collapsed {
        font-size: 16px;
        line-height: 19px;
    }
    .estate_faq_wrap .single_question .single_question_body p {
        font-size: 14px;
        line-height: 20px;
    }
    .estate_faq_wrap .single_question {
        padding: 20px 0;
    }
    .estate_faq_wrap .single_question .single_question_body > div {
        padding-top: 20px;
    }
    .single_country_object_wrap {
        max-width: unset;
    }
    .single_country_object {
        max-width: unset;
        margin: 0 15px;
    }
    .single_country_object_main_slider .single_county_main_slide {
        /* min-height: 182px; */
        min-height: 240px;
    }
    .single_country_object_help_slider .single_country_help_slide {
        min-height: 55px;
    }
    .single_country_object .info_wrap .date,
    .single_country_object .info_wrap .title {
        display: none;
    }
    .single_country_object .info_wrap .price button {
        display: block;
    }
    .single_country_object .info_wrap .place button,
    .single_country_object .info_wrap .description {
        display: none;
    }
    .single_country_object_wrap {
        padding: 30px 0 0;
    }
    .single_country_object .info_wrap .help_price {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 12px;
    }
    .single_country_object .info_wrap .info p {
        font-size: 14px;
        line-height: 17px;
    }
    .single_country_object .info_wrap .help_info {
        font-size: 14px;
        line-height: 20px;
    }
    .single_country_object .info_wrap .info .divider {
        color: #0f4c81;
        margin: 0 4px;
    }
    .single_country_object_wrap .call a {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.01em;
        color: #3f89ca;
    }
    .single_country_object_wrap .call {
        display: block;
        text-align: center;
        padding: 15px 0;
        border-top: 1px solid rgba(15, 76, 129, 0.1);
        /* border-bottom: 1px solid rgba(15, 76, 129, 0.1); */
    }
    #country_section2 .container {
        padding: 0;
    }
    #country_section2 .estate_form_wrap {
        margin-left: 15px;
        margin-right: 15px;
    }
    .single_country_object .info_wrap .price p {
        color: #0f4c81;
    }
    .single_country_object .info_wrap {
        padding-top: 15px;
    }
    #country_section3 .country_sec3_title {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 20px;
    }
    #country_section3 .country_sec3_steps {
        flex-direction: column;
        align-items: center;
    }
    #country_section3 {
        padding-bottom: 50px;
    }
    .country_buttons_title p {
        font-size: 24px;
        line-height: 29px;
    }
    .country_buttons_title {
        margin-bottom: 30px;
    }
    #country_section3 .country_sec3_wrap {
        padding-left: 0;
        padding-right: 0;
    }
    #country_section3 .country_sec3_wrap .country_sec3_title,
    #country_section3 .country_sec3_wrap .country_sec3_steps {
        padding-left: 15px;
        padding-right: 15px;
    }
    .country_objects_navigation ul li {
        margin: 0 10px;
    }
    #city_filter .city_filter_wrap {
        display: none;
    }
    .city_mobile_filter {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(15, 76, 129, 0.1);
        padding: 30px 0 18px;
        position: relative;
        max-width: 280px;
        margin: 0 auto;
    }
    .city_mobile_filter img.active {
        transform: rotate(180deg);
    }
    .city_mobile_filter .hidden_options {
        position: absolute;
        background: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
        padding: 5px 10px;
        width: 100%;
        bottom: -20px;
        /* left: -10px; */
        display: none;
    }
    .city_mobile_filter .hidden_options.opened {
        display: block;
    }
    .city_mobile_filter a {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.01em;
        color: #0f4c81;
    }
    #favourites_page #forvourites_tabs_controls a span {
        display: none;
    }
    #favourites_page
        #favourites_content
        .single_country_object_wrap:last-child {
        border-bottom: 1px solid rgba(15, 76, 129, 0.1);
    }
    #favourites_section1 > .container {
        padding-left: 0;
        padding-right: 0;
    }
    #favourites_section1 #forvourites_tabs_controls {
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 30px;
    }
    #favourites_section1 .favourites_title {
        font-size: 24px;
        line-height: 29px;
    }
    #favourites_section1 {
        padding-top: 30px;
    }
    #favourites_page #favourites_content .empty {
        padding: 10px 15px 50px;
    }
    #favourites_page #favourites_content .empty img {
        width: 50px;
        margin: 0 auto 10px;
    }
    #favourites_page #favourites_content .empty .title {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 10px;
    }
    #favourites_page #favourites_content .empty .subtitle {
        font-size: 14px;
        line-height: 17px;
    }
    #single_object .object_right_section .title,
    #single_object .object_right_section .price a {
        display: none;
    }
    #single_object .object_right_section .price button {
        display: block;
        background: none;
        padding: 0;
        line-height: 0;
        border: none;
        cursor: pointer;
        width: 24px;
        height: 24px;
    }
    #single_object .object_right_section .price button i {
        font-size: 24px;
        color: #0f4c81;
        background-position: center;
        background-size: contain;
        width: 100%;
        height: 100%;
        display: block;
    }
    #single_object .object_right_section .price button i.fa-heart {
        background: url(../img/fav_heart.svg) no-repeat;
    }
    #single_object .object_right_section .price button i.fa-heart-o {
        background: url("../img/fav_heart_hov.svg") no-repeat;
    }
    #single_object .object_right_section .price button i.fa-heart-o::before {
        content: none;
    }
    #single_object .object_right_section .price button i.fa-heart::before {
        content: none;
    }
    #single_object .object_right_section .price button i:before {
        content: none !important;
    }
    #single_object .object_right_section .price {
        justify-content: space-between;
    }
    #single_object .object_right_section .price p {
        color: #0f4c81;
    }
    #single_object .object_right_section .info {
        margin-top: 16px;
    }
    #single_object .object_right_section .subprice,
    #single_object .object_right_section .info p,
    #single_object .object_right_section .categories,
    #single_object .object_right_section .help_info {
        font-size: 14px;
    }
    #single_object .object_right_section .categories {
        margin-top: 10px;
    }
    #single_object .object_right_section .help_info {
        margin-bottom: 15px;
    }
    #single_object .object_right_section .date {
        margin-bottom: 17px;
    }
    #single_object .object_right_section .views button {
        display: none;
    }
    #single_object .object_right_section .services_calculate {
        margin-bottom: 30px;
    }
    #single_object .object_right_section .mobile_object_left_info {
        margin-top: 0;
        padding-top: 30px;
        border-top: 1px solid rgba(15, 76, 129, 0.1);
    }
    #single_object .single_object_left_info .specifications {
        border-top: none;
    }
    #single_object .single_object_left_info .left_info_title {
        margin: 0;
        font-size: 16px;
        line-height: 19px;
    }
    #single_object .single_object_left_info .specifications .single_spec .type {
        font-size: 14px;
        line-height: 17px;
    }
    #single_object .single_object_left_info .specifications .single_spec .value,
    #single_object .single_object_left_info .description p {
        font-size: 14px;
        line-height: 17px;
    }
    #single_object .single_object_left_info .specifications {
        padding-bottom: 10px;
    }
    #single_object .single_object_left_info .description {
        margin-top: 30px;
    }
    #single_object .object_right_section .callback .title {
        display: block;
        font-size: 18px;
        line-height: 27px;
    }
    #single_object
        .object_right_section
        .callback
        .callback_info
        .info_info
        .title,
    #single_object
        .object_right_section
        .callback
        .callback_info
        .info_info
        .subtitle {
        font-size: 14px;
        line-height: 20px;
    }
    #single_object .object_right_section .callback .callback_info > img {
        width: 80px;
    }
    #single_object_page .object_page_title {
        font-size: 24px;
        line-height: 29px;
    }
    #similar_objects .similar_objects_wrap .single_country_object_wrap {
        margin-bottom: 20px;
    }
    #similar_objects .similar_objects_wrap .single_country_object_wrap .call {
        border-bottom: 1px solid rgba(15, 76, 129, 0.1);
    }
    #single_object_location .location_title {
        font-size: 18px;
        line-height: 22px;
    }
    #single_object_location .left_location p,
    #single_object_location .right_location p,
    #single_object_location .right_location span {
        font-size: 16px;
        line-height: 20px;
        max-width: 100%;
    }
    #single_object_location {
        padding: 15px 0;
    }
    #single_object_location .left_location p {
        margin-top: 50px;
    }
    #single_object_form .estate_form_wrap form .about_input {
        width: 100%;
    }
    #single_object_form .estate_form_wrap .phone_select #form_phone {
        width: calc(100% - 37px);
    }
    #single_object .object_right_section .callback .callback_info > img {
        margin-right: 10px;
    }
    #single_object .object_right_section .callback {
        padding: 20px 10px;
    }
    #similar_objects .container {
        padding-left: 0;
        padding-right: 0;
    }
    #single_object .object_right_section .callback .title {
        margin-bottom: 10px !important;
    }
    #single_object_page .object_page_title {
        padding-left: 15px;
    }
    #single_object .object_right_section .date,
    #single_object .object_right_section .views p {
        font-size: 12px;
    }
    #main_section7 .sec7_right {
        display: none;
    }
    #main_section7 .sec7_left {
        margin-bottom: 0;
    }
}

@media (max-width: 480px) {
    #single_object .single_object_main_slider .single_object_main_slide {
        height: 233px;
    }
}

@media (max-width: 456px) {
    #single_object_location .left_location p {
        margin-top: 28px;
    }
}

@media (max-width: 430px) {
    .about_logo_down {
        width: 100%;
    }
}

@media (max-width: 400px) {
    #main_section1 {
        min-height: 500px;
    }
    .sec3_country {
        min-height: 180px;
    }
    #main_section8 {
        background-size: cover;
        background-position-x: -100px;
    }
    .about_info .about_title {
        text-align: left;
    }
    .about_info .advs .single_adv {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    .about_info .mob_about_image {
        border-radius: 5px;
    }
    .sec9_form .title,
    .sec9_form .subtitle {
        text-align: left;
    }
    .modal_form button {
        font-size: 14px;
        width: 100%;
        display: block;
        padding-left: 0;
        padding-right: 0;
    }
    .modal_form .inputs .modal_input {
        width: 200px;
    }
    .phone_select #modal_form_phone {
        width: 164px;
    }
    .menu_responsive .main_menu li {
        font-size: 18px;
        line-height: 18px;
    }
    .reviews_slider .slick-next {
        right: 34%;
    }
    .reviews_slider .slick-prev {
        left: 34%;
    }
    .reviews_slider .single_review {
        margin: 0;
    }
    .modal_favs_head .modal_favs_link {
        font-size: 12px;
        line-height: 17px;
    }
    .estate_single_card .info_wrap .info {
        justify-content: space-between;
    }
    .estate_single_card .info_wrap .info .divider {
        margin: 0;
    }
    .single_country_object_main_slider .single_county_main_slide {
        min-height: 182px;
        /* min-height: 240px; */
    }
    .estate_single_card .estate_main_slider .single_main_slide {
        height: 180px;
        /* height: 240px; */
    }
    #single_object .object_right_section .info .divider {
        margin: 0 5px;
    }
    #single_object .single_object_main_slider .single_object_main_slide {
        height: 210px;
    }
    #single_object_location {
        min-height: 550px;
    }
    #single_object_location .left_location p {
        margin-top: 49px;
    }
    #single_object_location .location_title {
        font-size: 16px;
        line-height: 21px;
    }
    #single_object_location .left_location p,
    #single_object_location .right_location p,
    #single_object_location .right_location span {
        font-size: 14px;
    }
}

@media (max-width: 332px) {
    #single_object_location .left_location p {
        margin-top: 25px;
    }
}
